@import "../../vendor/yuto-seta/shorthand/shorthand.propaties.styl"
@import "../../vendor/yuto-seta/advanced-properties/advanced.propaties.styl"
@import "../../vendor/yuto-seta/media-query/media-query.styl"

@import "../foundations/reset.css"
@import "../foundations/default.styl"
@import "../foundations/color.styl"
@import "../foundations/font.styl"
@import "../foundations/animation.styl"

//@import "../components/*"

.pc
    @media MAX-TABLET
        display none
.sp
    @media MIN-TABLET
        display none

.HeaderSection
    @media MIN-TABLET
        a1 0 0




